<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936821277824-2ncooj96j3t1vnoo4ojtvd5r3vb30cb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936821277824-2ncooj96j3t1vnoo4ojtvd5r3vb30cb9</string>
	<key>API_KEY</key>
	<string>AIzaSyAvs-nCk8HCiUThFQO3sc4cVQ_TPjyng_M</string>
	<key>GCM_SENDER_ID</key>
	<string>936821277824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desafio.desafio</string>
	<key>PROJECT_ID</key>
	<string>desafio-ios-f6521</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-ios-f6521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936821277824:ios:5e92379c07f9853f1c1265</string>
</dict>
</plist>